<!--<nav navbar *ngIf='isSignin()'>-->
<md-sidenav-container class="navbar">
<md-sidenav>
	<!--<button md-icon-button [mdMenuTriggerFor]="menu">-->
		<!--<md-icon>more_vert</md-icon>-->
	<!--</button>-->
	<!--<md-menu #menu="mdMenu">-->
	<md-menu>
		<button md-menu-item (click)='listEmployee()'> Employee List </button>
		<button md-menu-item (click)='registerAccounts()'> Register Accounts </button>
	</md-menu>
	<!--<ul>-->
		<!--<li (click)='listEmployee()'>Employee List</li>-->
		<!--<li (click)='registerAccounts()'>RegisterAccounts</li>-->
	<!--</ul>-->
</md-sidenav>
</md-sidenav-container>
