<div class="form-wrapper">
    <h3>Login</h3>
    <form #userForm="ngForm" (ngSubmit)="login(userForm)">	
        <div class="form-item">
			<label for="userId"></label>
            <input name="userId" ngModel required #userId="ngModel" placeholder="User ID"/>
        </div> 
        <div class="form-item">
			<label for="password"></label>
            <input type="password" name="password" ngModel required #password="ngModel" placeholder="Password"/>
        </div>
        <div class="form-group col-xs-6 col-xs-offset-3 text-center">
            <button class="btn btn-primary">ログイン</button>
        </div>
    </form>
</div>


